Product Details Page Component
<hr/>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.all @ categories='catalog.product'}" data-sly-unwrap/>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2">
            <sly data-sly-resource="${ @path='image', resourceType='catalog/components/content/commerce/product-cover-image'}" data-sly-unwrap/>
        </div>
        <div class="col-xs-8">
            <sly data-sly-resource="${ @path='info', resourceType='catalog/components/content/commerce/product-info'}" data-sly-unwrap/>
        </div>
    </div>
</div>
