.productListing {
    .image {
        padding-top: 10%;
        padding-bottom: 5%;
        height: 220px;
        margin-bottom: 130px;

        .coverImage {
            max-width: 150px;
            display: block;
            margin: 0 auto;
            -moz-box-shadow: #ddd 0px 5px 5px;
            -webkit-box-shadow: #ddd 0px 5px 5px;
        }
    }

    .full-image{
        margin: 0 auto;
    }

    .coverAction {
        position: absolute;
        top: 50%;
        left: 31%;
    }
}

.modal-custom-size {
    width: 360px;
}

.modal-text-left {
    text-align: left !important;
}

.recentlyviewed {
    ul {
        li {
            float: left;
            padding: 10px;
            list-style-type: none;
        }
    }
}

