<div data-sly-resource="${ @path='header', resourceType='foundation/components/reference'}" data-sly-unwrap/>
<div class="container">
    <sly data-sly-use.templatedContainer="com.day.cq.wcm.foundation.TemplatedContainer"
         data-sly-repeat.child="${templatedContainer.structureResources}"
         data-sly-resource="${child.path @ resourceType=child.resourceType, decorationTagName='div'}"/>
</div>
<div data-sly-resource="${ @path='footer', resourceType='foundation/components/reference'}" data-sly-unwrap/>
