<!doctype html>
<html lang="en">
    <head>
      <sly data-sly-include="partials/headlibs.html" data-sly-unwrap/>
    </head>
    <body>
        <div>
            Base Html Page

            <div data-sly-resource="${ @path='header', resourceType='foundation/components/reference'}" data-sly-unwrap/>
            <div data-sly-resource="${ @path='par', resourceType='foundation/components/parsys'}" data-sly-unwrap/>

            <div data-sly-resource="${ @path='footer', resourceType='foundation/components/reference'}" data-sly-unwrap/>
        </div>
        <script>

        </script>
    </body>
</html>
