<sly
    data-sly-use.product="${'in.shabhushan.catalog.commerce.wcmpojo.ProductPojo'}"/>

<hr/>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2">
            <sly data-sly-resource="${ @path='image', resourceType='commerce/components/products/image'}" data-sly-unwrap/>
            <sly data-sly-resource="${ @path='product', resourceType='catalog/components/content/commerce/product-cover-image'}" data-sly-unwrap/>
        </div>
        <div class="col-xs-9">
            <sly data-sly-resource="${ @path='info', resourceType='catalog/components/content/commerce/product-info'}" data-sly-unwrap/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <sly data-sly-resource="${ @path='par', resourceType='foundation/components/parsys'}" data-sly-unwrap/>
        </div>
    </div>
</div>

